<div class="container mt-3">
    <div class="row">
        <!-- Form Pizza 1 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/BanhPizza/Pizzazahoivaraubina.jpeg" alt="Hình Pizza 1" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <form>
                        <div class="mb-3">
                            <label for="pizzaName1" class="form-label">Tên Pizza</label>
                            <input type="text" class="form-control" id="pizzaName1" placeholder="Tên Pizza">
                        </div>
                        <div class="mb-3">
                            <label for="ingredients1" class="form-label">Thành phần</label>
                            <textarea class="form-control" id="ingredients1" placeholder="Thành phần"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="crustType1" class="form-label">Loại vỏ bánh</label>
                            <input type="text" class="form-control" id="crustType1" placeholder="Loại vỏ bánh">
                        </div>
                        <div class="mb-3">
                            <label for="size1" class="form-label">Kích thước</label>
                            <input type="text" class="form-control" id="size1" placeholder="Kích thước">
                        </div>
                        <div class="mb-3">
                            <label for="price1" class="form-label">Giá tiền</label>
                            <input type="text" class="form-control" id="price1" placeholder="Giá tiền">
                        </div>
                        <button type="submit" class="btn btn-primary">Chọn</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Form Pizza 2 -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/BanhPizza/Pizzaphomaicaocap.jpeg" alt="Hình Pizza 2" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <form>
                        <div class="mb-3">
                            <label for="pizzaName2" class="form-label">Tên Pizza</label>
                            <input type="text" class="form-control" id="pizzaName2" placeholder="Tên Pizza">
                        </div>
                        <div class="mb-3">
                            <label for="ingredients2" class="form-label">Thành phần</label>
                            <textarea class="form-control" id="ingredients2" placeholder="Thành phần"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="crustType2" class="form-label">Loại vỏ bánh</label>
                            <input type="text" class="form-control" id="crustType2" placeholder="Loại vỏ bánh">
                        </div>
                        <div class="mb-3">
                            <label for="size2" class="form-label">Kích thước</label>
                            <input type="text" class="form-control" id="size2" placeholder="Kích thước">
                        </div>
                        <div class="mb-3">
                            <label for="price2" class="form-label">Giá tiền</label>
                            <input type="text" class="form-control" id="price2" placeholder="Giá tiền">
                        </div>
                        <button type="submit" class="btn btn-primary">Chọn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>