@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="container mt-3">
    <div class="row">
        @foreach (var comBo in ViewBag.DanhSachComBo)
        {
            <div class="col-md-4 d-flex flex-column align-items-center border p-3 mb-3">
                <div class="mb-2 mx-auto">
                    <img src="~/Images/ComBo/@comBo.HinhAnh" style="width:300px; min-height:300px;" alt="@comBo.TenCombo" class="img-fluid">
                </div>
                <div class="text-center mb-2">
                    <label class="form-label">@comBo.TenCombo</label>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label class="form-label justify-content-start" style="white-space: nowrap;">Giá tiền:</label>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <div class="input-group ">
                                <input type="text" class="form-control" id="price1" value="@comBo.GiaTien" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text">VNĐ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary justify-content-start">Chọn</button>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <div class="input-group">
                                <input type="text" class="form-control quantityInput" value="10">
                                <button class="btn btn-outline-secondary minusBtn" type="button">-</button>
                                <button class="btn btn-outline-secondary plusBtn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".plusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return +value + 1;
            });
        });

        $(".minusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return Math.max(+value - 1, 1);
            });
        });
    });
</script>